<div class="outer">
    <div class ="container py-5 ">
        <div class="rows">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 ">
                <div class ="panel border bg-white">
                    <div class = "panel-heading">
                        <h3 class="pt-3 font-weight-bold" id="myNameTag"> Jango </h3>
                    </div>
                    <div class = "panel-body p-3">
                        <form  [formGroup]="ResetPasswordForm">
                            <div class ="form-group pt-3">
                                <div class="input-field" [class.error]="ResetPasswordForm.controls['userDetail'].dirty && ResetPasswordForm.hasError('required','UserDetail')">
                                   
                                    <input  formControlName="userDetail" type="text" placeholder="Please Enter Username/Email/Phonenumber" >
                                </div>
                                <small *ngIf="ResetPasswordForm.controls['username'].dirty && ResetPasswordForm.hasError('required','username')" class="text-danger">User details  required</small>
            
                                <button  (click)="resetPassword()" [disabled]="ResetPasswordForm.invalid" type="submit" class="btn btn-outline-warning btn-block mt-4 w-100 "> Submit</button>

                                
                                <div class="text-center pt-4 text-muted"> Have an account?<a id="forget" routerLink="/login"> Sign in</a></div>
                            </div>
                        </form>
                        

                        
                    </div>
                </div>
            </div>


        </div>
    </div>

 
   
</div>
