<h1 mat-dialog-title>Generate Statement</h1>

<div mat-dialog-content >
  
  <p>Please enter Date-Range</p>
  <form [formGroup]="customerdata">
  <mat-form-field color="accent">
    <mat-label>Start-date</mat-label>
    <input matInput formControlName="start" [matDatepicker]="picker1">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>


    
  </mat-form-field>
  
  <mat-form-field color="accent">
    <mat-label>End-date</mat-label>
    <input matInput formControlName="end" [matDatepicker]="picker2">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field>

  <br>
  <br>
  <p>Please Select Currency</p>
  
                                
    <mat-form-field style="width: 100%;">
        <mat-label>Select</mat-label>
        <mat-select formControlName="currency">
          <mat-option  value={{x}} *ngFor="let x of currenciesFromBackend">{{x}}</mat-option>
         
        </mat-select>
      </mat-form-field>
    

      


  <!-- <mat-form-field style="width: 100%;">
    <mat-label>Select</mat-label>
    <mat-select formControlName="currency">
      <mat-option value="NGN">NGN</mat-option>
      <mat-option value="USD">USD</mat-option>
      <mat-option value="Euro">Euro</mat-option>
    </mat-select>
  </mat-form-field> -->
  <br>
  <br>
  <mat-radio-group formControlName="type_Of_Execution" aria-label="Select an option">
    <mat-radio-button value="Pdf">Download Pdf</mat-radio-button>
    <mat-radio-button value="Excel">Download Excel</mat-radio-button>
    <mat-radio-button value="emailPdf">Email Pdf</mat-radio-button>
    <mat-radio-button value="emailExcel">Email Excel</mat-radio-button>
  </mat-radio-group>

  </form>
  
</div>
<!-- <div mat-dialog-content>
  


</div> -->

<div mat-dialog-actions >
  <!-- <button  class="btn btn-danger" (click)="onGeneratePdf()"> Download PDF</button>
  <button class="btn btn-success" (click)="onGenerateExcel()"> Download Excel</button>
  <button class="btn btn-warning" (click)="onSendEmail()" > Send to Email</button> -->
  <button class="btn btn-primary" (click)="onGenerateFile()" cdkFocusInitial>Send</button>
</div>