
  

              <!-- Begin Page Content -->
              <div class="container" >
                
                <div class="row">

                  <div class="col-12">
                      <!-- Page title -->
                     
                      <div class="row height d-flex justify-content-center align-items-center" style="background-color: white; height: 100%;" >
                        
                          <div class="col-md-8">
                            <br>
                            <br>
                           <p class="lead"> Account Information</p>
                           <hr>
                            <div class="card text-center border border-warning ">
                              <div class="card-header bg-warning ">
                                <mat-chip-listbox  aria-label="Fish selection">
                                  <mat-chip-option *ngFor="let x of Accounts" (click)="showBalance(x.currency)">{{x.currency}}</mat-chip-option>
                                 
                                </mat-chip-listbox>
                              
                              </div>
                              <div class="card-body bg-border-info" *ngFor="let x of myBalance">
                               
                              <h3 class="text-left text-muted "> Balance :{{ x.balance.toLocaleString()}}</h3>
                              <h3 class="text-left text-muted"> Account Number: {{x.account_Number}} </h3>
                               
                              </div>
                            </div>
                            <br>
                            <form  [formGroup]="myCurrency" *ngIf="ForAccount">
                            <p class="lead">Please select an Account </p>
                            <hr>
                            <mat-form-field  style="width: 100%;" >
                              <mat-label>Select Account</mat-label>
                              <mat-select  formControlName="currency" >
                                
                                <mat-option   *ngFor="let Currency of Accounts" value={{Currency.currency}}><span class="text-success">{{Currency.balance}} {{Currency.currency}} </span><br><span style="font-size:small;"> {{Currency.account_Number}}</span>  
                                 </mat-option>
                                
                              </mat-select>
                              
                            </mat-form-field>
                            <button class="btn btn-lg btn-outline-success w-100" [disabled]="myCurrency.invalid" (click)="sendCurrency()">Proceed</button>



                            <!-- <div *ngFor=" let x of Accounts" formControlName="currency">
                              <input     value={{x.currency}} >
                              <button (click)="sendCurrency()"    id="example-element" class="transition-all m-4" >
                                 <a> </a> -->
                                <!-- <input type="submit" formControlName="currency" value="{{x.currency}}"> <span> Account Number :{{x.account_Number}} </span><br>  
                                Balance: {{x.balance}} ({{x.currency}}) 
                                 
                                 
                                 <span> Account Number :{{x.account_Number}} </span><br>
                                     Balance: {{x.balance}}
                              
                                  
                               </button>
                            </div> -->
                            
                           
                          </form>

                            <!-- <form [formGroup]="myUserData" >
                            <mat-form-field  style="width: 100%;" >
                              <mat-label>Select Currency</mat-label>
                              <mat-select >
                                
                                <mat-option   *ngFor="let Currency of "   value={{Currency}}><span style="font-weight:bold ;color: rgb(94, 205, 94); font-size: large;">{{Currency}} {{Currency}} </span><br><span style="font-size:small;"> {{Currency}}</span>  
                                 </mat-option>
                                
                              </mat-select>
                            </mat-form-field>
                          </form> -->
                            <form [formGroup]="myUserData" *ngIf="change" id="SearchForAccount">
                              <h4> Enter User Detail</h4>
                              <hr>
                            <div class="search">
                              <i class="fa fa-search"></i>
                              <input type="text" formControlName="Search" id="Searchdata" class="form-control" placeholder="Enter Username/Email/AccountNumber">
                              <button class="Navbutton" (click)="Userdata()"  style="">Search</button>
                               <small *ngIf="myUserData.controls['Search'].dirty && myUserData.hasError('required','Search')" class="text-danger">Please enter an Account Number/Username/Email </small> 
                            </div>
                            <button class="btn btn-lg btn-outline-danger w-100" (click)="AccountsPage()">Back</button>
                            </form>
                            <form class="bg-light-soft" [formGroup]="Transferdatas" *ngIf="Tchange" id="TransferForm"  style="border-radius: 1rem;">
                              <div class="row mb-5 gx-5">
                                  <!-- Contact detail -->
                                  <div class="col-xxl-12 mb-5 mb-xxl-0">
                                      <div class="bg-light-soft px-4 py-5 rounded">
                                          <div class="row g-3">
                                              <h4 class="mb-4 mt-0">User Information</h4>
                                              <hr>
                                              <!-- First Name -->
                                              <div class="col-md-12">
                                                  <div class="input-field">
                                                      <span class="fa fa-user p-2"></span>
                                                      <input  type="text" placeholder="Name" value="{{SearchData.response}}" [readOnly]="true">
                                                  </div>
                                                  
                                              </div>
                                              
                                              <input type="text"  placeholder="Name"value="{{CurrentUsers}}" hidden="" >
                                             
                                              <div class="col-md-12">
                                                <div class="input-field">
                                                    <span class="fa fa-user p-2"></span>
                                                    <input formControlName="Amount" type="text"  id="AmountS" placeholder="Amount" >
                                                </div>
                        
                                            </div>
                                            <div class="col-md-12">
                                              <div class="input-field">
                                                  <span class="fa fa-lock p-2"></span>
                                                  <input formControlName="Pin" type="password" id="PinS" [maxlength]="4" [minLength]="4"  placeholder="Pin" >
                                              </div>
                      
                                          </div>
                                             
                                             
                                          </div> <!-- Row END -->
                                      </div>
                                  </div>
                                  <!-- Upload profile -->
                                  
                                 
                              </div> 
                              <div class="col-md-12">
                                <button type="submit" (click)="Transferdata()" [disabled]="Transferdatas.invalid" class="btn btn-outline-warning btn-block mt-4 w-100 "> Send</button>
                                
                            </div>
                            <div class="col-md-12">
                              <button type="submit" (click)="Goback()" class="btn btn-outline-warning btn-block mt-4 w-100 "> Back</button>
                              
                          </div>
                               
                      </form> <!-- Form END -->
                      <form class="bg-light-soft" [formGroup]="AddPin" *ngIf="Pchange" id="TransferForm"  style="border-radius: 1rem;">
                        <div class="row mb-5 gx-5">
                            <!-- Contact detail -->
                            <div class="col-xxl-12 mb-5 mb-xxl-0">
                                <div class="bg-light-soft px-4 py-5 rounded">
                                    <div class="row g-3">
                                        <h4 class="mb-4 mt-0">User Pin</h4>
                                        <hr>
                                        
                                       
                                        
                                        
                                       
                                        <div class="col-md-12">
                                          <div class="input-field">
                                              <span class="fa fa-lock p-2"></span>
                                              <input formControlName="pin" type="password" maxlength="4" minlength="4" id="APinS" placeholder="Pin" >
                                          </div>
                  
                                      </div>
                                      <div class="col-md-12">
                                        <div class="input-field">
                                            <span class="fa fa-lock p-2"></span>
                                            <input formControlName="verifyPin" type="password" maxlength="4" minlength="4" id="VPinS"  placeholder="VerifyPin" >
                                        </div>
                
                                    </div>
                                       
                                       
                                    </div> 
                                </div>
                            </div>
                         
                            
                           
                        </div> 
                        <div class="col-md-12">
                          <button type="submit" [disabled]="AddPin.invalid" (click)="SendPin()" class="btn btn-outline-warning btn-block mt-4 w-100 "> Create Pin</button>
                          
                      </div>
                      
                         
                </form> <!-- Form END -->
                <br>
                <br>
                <br> 
                      </div>
                      
                      <!-- <div class="col-md-4" style="border-left: 3px solid gold; "> -->




                          <!-- </div> -->
                        
                        </div>
                     
                  </div>
              

          

                </div>  

              </div>
              <!-- /.container-fluid -->

         




