
  
                <!-- End of Topbar -->
  
                <!-- Begin Page Content -->
                <div class="container" >
  
                  <div class="row">
                    <div class="col-12">
                        <!-- Page title -->
                       
                       
                       
                        <div class="row height d-flex justify-content-center align-items-center" style="background-color: white; height: 100%;" >
                    

                          <div class="col-md-8">
                            <br>
                            <br>
                           
                           
                            <h3>Your Balance</h3>
                           <hr>
                            <div class="card border-left-success shadow h-100 p-3">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-left font-weight-bold text-success text-uppercase mb-1">
                                              Balance</div>
                                          <div class="h5 mb-0 font-weight-bold ">
                                            <mat-form-field  style="width: 100%;" >
                                              <mat-label>Select Currency</mat-label>
                                              <mat-select >
                                                
                                                <mat-option   *ngFor="let Currency of mydata"   value={{Currency.balance}}><span style="font-weight:bold ;color: rgb(94, 205, 94); font-size: large;">{{Currency.balance}} {{Currency.currency}} </span><br><span style="font-size:small;"> {{Currency.account_Number}}</span>  
                                                 </mat-option>
                                                
                                              </mat-select>
                                            </mat-form-field>
                                            <button class="btn btn-success"  (click)="openDialo2()">Credit Account</button>
                                            <!-- <button class="btn btn-success" type="button" >

                                              <div *ngIf=" " >
                                                <span class="spinner-border spinner-border-sm"></span>
                                                Loading...
                                              </div>
                                              
                                              <div *ngIf=" ">
                                                
                                                Credit Account
                                              </div>
                                             
                                            </button> -->


                                          </div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      
                       
                                            
                          <br>
                        

                          <h3> Please select type of account </h3>
                          <hr>
                          <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 demo-table">
                            <!-- Position Column -->
                            <!-- <ng-container matColumnDef="demo-position">
                              <th mat-header-cell *matHeaderCellDef> No. </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container> -->
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="demo-name">
                              <th mat-header-cell *matHeaderCellDef> Name </th>
                              <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
                            </ng-container>
                          
                            <!-- Weight Column -->
                            <ng-container matColumnDef="demo-rate">
                              <th mat-header-cell *matHeaderCellDef> Charge </th>
                              <td mat-cell *matCellDef="let element"> {{element.charge}} </td>
                            </ng-container>
                          
                            <!-- Symbol Column -->
                            <!-- <ng-container matColumnDef="demo-symbol">
                              <th mat-header-cell *matHeaderCellDef> Symbol </th>
                              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                            </ng-container> -->
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                          
                          
                            
                          
                            
                            <form  [formGroup]="createAccountData" >
                                
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Select</mat-label>
                                    <mat-select formControlName="currency">
                                      <mat-option  value={{x}} *ngFor="let x of currenciesFromBackend">{{x}}</mat-option>
                                     
                                    </mat-select>
                                  </mat-form-field>
                                

                                  <button class="btn btn-outline-success btn-block mt-4 w-100" type="submit" [disabled]="createAccountData.invalid"  (click)=" openDialog()">Create</button>
                            </form>



                         
                         <br>
                         <br>
                         <br>
                      </div>
                     
                        <br>


                      </div>
                    </div>
                </div>
  
                    
  
                </div>
                <!-- /.container-fluid -->
  
       
  
  
  
