
 

              <!-- Begin Page Content -->
              <div class="container" >

                <div class="row">
                  <div class="col-12">
                    <!-- Page title -->
                   
                    <div class="row height d-flex justify-content-center align-items-center" id="stayin"  >
                      
                       <div class="col-md-8" >
                        
                        <br>
                        <br>
                        <div class="headerInline">
                          <mat-form-field class="example-form-field">

                            <mat-label>Select Date Range</mat-label>

                            <mat-date-range-input [formGroup]="campaignOne"

                              [rangePicker]="campaignOnePicker">

                                <input matStartDate placeholder="Start date" formControlName="start">

                                <input matEndDate placeholder="End date" formControlName="end"

                                    (dateChange)="TransactionTable()">

                            </mat-date-range-input>

                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> 

                            <mat-datepicker-toggle matIconSuffix

                                [for]="campaignOnePicker"></mat-datepicker-toggle>

                            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>

                        </mat-form-field>
                        
                        <!-- <h3> List of your transactions </h3> -->
                        <button type="button" id="generateButton" class="btn   btn-outline-dark"  (click)="openDialog()" >Generate Statement</button>
                        

                        </div>
                        <!-- Button trigger modal -->
                          
                         <hr> 
                        <div class="ButtonPadding">
                          <button class="btn btn-outline-success btn-lg" id="buttonSize" (click)="myCredits()"> Credit</button>
                          <button  class="btn btn-outline-danger btn-lg" id="buttonSize" (click)="myDebits()"> Debit</button>
                          <button class="btn btn-outline-warning btn-lg" id="buttonSize"(click)="myShowAll()"> Show All</button>

                          <!-- <mat-form-field>
                            <mat-label>What's your name?</mat-label>
                            <input matInput [(ngModel)]="name">
                          </mat-form-field>

                          <button mat-raised-button (click)="openDialog()">
                            open dialog
                          </button>
                          <li *ngIf="animal">
                            You chose: <em>{{animal}}</em>
                          </li> -->
                 
                        
                          <!-- <mat-form-field >
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [formGroup]="range" (change)="TransactionTable()" [rangePicker]="picker">
                              <input matStartDate formControlName="start" placeholder="Start date">
                              <input matEndDate formControlName="end" placeholder="End date">
                            </mat-date-range-input>
                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                             <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>  
                            <mat-date-range-picker #picker></mat-date-range-picker> -->
                          
                            <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
                          <!-- </mat-form-field> -->
                          
                          <!-- <p>Selected range: {{range.value | json}}</p> -->
                          
                           
                          <!-- <button  [ngClass]=""> </button> -->
                      </div>
                      
                        <div  class="tableArea" > 
                            <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table" >
                              <thead class="thead-dark">
                                <tr>
                                 
                                  <th scope="col">Sender-Info</th>
                                  <th scope="col">Amount</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Reciever-Info</th>
                                  <th scope="col">Date</th>
                                  
                                </tr>
                              </thead>
                              <tbody>
                              
                                <tr class=""  *ngFor="let friend of TransactionDatas" >
                                  <!-- <div *ngIf="friend.type_of_transaction === 'credit'" style="color: green;">  -->
                                 
                                  <td><div class="TableContent"><h4>{{friend.firstnameOfSender}}{{friend.lastnameOfSender}}</h4><h5>{{friend.account_Number_of_sender}}</h5></div></td>
                                  <td  ><span [ngClass]="friend.type_of_transaction.toLocaleLowerCase() ==='credit'? 'badge badge-success':'badge badge-danger'"> {{friend.amount}} {{friend.currency}}</span> </td>
                                  <td>Accepted</td>
                                  <td><div class="TableContent"><h4>{{friend.firstnameOfReciever}} {{friend.lastnameOfReciever}}</h4> <h5>{{friend.account_Number_of_reciever}}</h5></div> </td>
                                  <td>{{friend.date}}</td>
                                  <!-- </div> -->
                                </tr>
                            
                              </tbody>
                            </table>
                            
                            </div>
                       
                         
                            <br>
                            <br>
                            <br>
                     
                  </div> 
                  </div>
                </div>

              </div>

                  

              </div>
              <!-- /.container-fluid -->

         




