
    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: #212529;" >

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/dashboard">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4" >Jango</span>
            </a>
              
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item " >
            <a routerLink="/dashboard" class="nav-link text-white" >
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Dashboard
            </a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

      
        

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item  ">
            <a routerLink="/fundaccount" class="nav-link text-white"aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Fund Account
            </a>
             
          </li>
          <hr class="sidebar-divider">
          <!-- Nav Item - Utilities Collapse Menu -->
          <li class="nav-item "  >
            <a routerLink="/transfer" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Transfer
            </a> 
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item active"  style="background-color: gold; color: black;">
            <a routerLink="/transactionTable" class="nav-link active"  >
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Transactions
            </a>
          </li>
          <hr class="sidebar-divider">

          <!-- Nav Item - Charts -->
          <li class="nav-item">
            <a  routerLink="/profile" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Profile
            </a>
          </li>
          <hr class="sidebar-divider">
          <!-- Nav Item - Tables -->
          <li class="nav-item">
            <a routerLink="/login" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Log-out
            </a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow " style="background-color:  #343a40;color: white;">

                  <!-- Sidebar Toggle (Topbar) -->
                  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                      <i class="fa fa-bars"></i>
                  </button>

                  <!-- Topbar Search -->
                  <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="my-5" >
                      <h3> Transactions</h3>
                       <hr> 
                  </div>
                    </div>

                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">

                     
                      <!-- Nav Item - Alerts -->
                      <li class="nav-item dropdown no-arrow mx-1">
                          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-bell fa-fw"></i>
                              <!-- Counter - Alerts -->
                              <span class="badge badge-danger badge-counter">3+</span>
                          </a>
                          <!-- Dropdown - Alerts -->
                          
                      </li>

                      <!-- Nav Item - Messages -->
                      <li class="nav-item dropdown no-arrow mx-1">
                          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-envelope fa-fw"></i>
                              <!-- Counter - Messages -->
                              <span class="badge badge-danger badge-counter">7</span>
                          </a>
                         
                        
                      </li>

                      <div class="topbar-divider d-none d-sm-block"></div>

                      <!-- Nav Item - User Information -->
                      <li class="nav-item dropdown no-arrow">
                          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="mr-2 d-none d-lg-inline text-gray-600 small"> Jango admin</span>
                              <img class="img-profile rounded-circle">
                          </a>
                          <!-- Dropdown - User Information -->
                          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                              aria-labelledby="userDropdown">
                              <a class="dropdown-item" href="#">
                                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Profile
                              </a>
                              <a class="dropdown-item" href="#">
                                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Settings
                              </a>
                              <a class="dropdown-item" href="#">
                                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Activity Log
                              </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Logout
                              </a>
                          </div>
                      </li>

                  </ul>

              </nav>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container" >

                <div class="row">
                  <div class="col-12">
                    <!-- Page title -->
                   
                    <div class="row height d-flex justify-content-center align-items-center" id="stayin"  >
                      
                       <div class="col-md-8" >
                        
                        <br>
                        <br>
                        <div class="headerInline">
                          <mat-form-field class="example-form-field">

                            <mat-label>Select Date Range</mat-label>

                            <mat-date-range-input [formGroup]="campaignOne"

                                [rangePicker]="campaignOnePicker">

                                <input matStartDate placeholder="Start date" formControlName="start">

                                <input matEndDate placeholder="End date" formControlName="end"

                                    (dateChange)="TransactionTable()">

                            </mat-date-range-input>

                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> 

                            <mat-datepicker-toggle matIconSuffix

                                [for]="campaignOnePicker"></mat-datepicker-toggle>

                            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>

                        </mat-form-field>
                        
                        <!-- <h3> List of your transactions </h3> -->
                        <button type="button" id="generateButton" class="btn   btn-outline-dark"  (click)="openDialog()" >Generate Statement</button>
                        

                        </div>
                        <!-- Button trigger modal -->
                          
                         <hr> 
                        <div class="ButtonPadding">
                          <button class="btn btn-outline-success btn-lg" id="buttonSize" (click)="myCredits()"> Credit</button>
                          <button  class="btn btn-outline-danger btn-lg" id="buttonSize" (click)="myDebits()"> Debit</button>
                          <button class="btn btn-outline-warning btn-lg" id="buttonSize"(click)="myShowAll()"> Show All</button>

                          <!-- <mat-form-field>
                            <mat-label>What's your name?</mat-label>
                            <input matInput [(ngModel)]="name">
                          </mat-form-field>

                          <button mat-raised-button (click)="openDialog()">
                            open dialog
                          </button>
                          <li *ngIf="animal">
                            You chose: <em>{{animal}}</em>
                          </li> -->
                 
                        
                          <!-- <mat-form-field >
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [formGroup]="range" (change)="TransactionTable()" [rangePicker]="picker">
                              <input matStartDate formControlName="start" placeholder="Start date">
                              <input matEndDate formControlName="end" placeholder="End date">
                            </mat-date-range-input>
                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                             <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>  
                            <mat-date-range-picker #picker></mat-date-range-picker> -->
                          
                            <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
                          <!-- </mat-form-field> -->
                          
                          <!-- <p>Selected range: {{range.value | json}}</p> -->
                          
                           
                          <!-- <button  [ngClass]=""> </button> -->
                      </div>
                      
                        <div  class="tableArea" > 
                            <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table" >
                              <thead class="thead-dark">
                                <tr>
                                 
                                  <th scope="col">Sender-Info</th>
                                  <th scope="col">Amount</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Reciever-Info</th>
                                  <th scope="col">Date</th>
                                  
                                </tr>
                              </thead>
                              <tbody>
                              
                                <tr class=""  *ngFor="let friend of TransactionDatas" >
                                  <!-- <div *ngIf="friend.type_of_transaction === 'credit'" style="color: green;">  -->
                                 
                                  <td><div class="TableContent"><h4>{{friend.firstnameOfSender}}{{friend.lastnameOfSender}}</h4><h5>{{friend.account_Number_of_sender}}</h5></div></td>
                                  <td  ><span [ngClass]="friend.type_of_transaction.toLocaleLowerCase() ==='credit'? 'badge badge-success':'badge badge-danger'"> {{friend.amount}} {{friend.currency}}</span> </td>
                                  <td>Accepted</td>
                                  <td><div class="TableContent"><h4>{{friend.firstnameOfReciever}} {{friend.lastnameOfReciever}}</h4> <h5>{{friend.account_Number_of_reciever}}</h5></div> </td>
                                  <td>{{friend.date}}</td>
                                  <!-- </div> -->
                                </tr>
                            
                              </tbody>
                            </table>
                            
                            </div>
                       
                         
                            <br>
                            <br>
                            <br>
                     
                  </div> 
                  </div>
                </div>

              </div>

                  

              </div>
              <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->


      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

 




