<!-- <div class="">
<h1 mat-dialog-title style="color: white;" >Alert!</h1>
<div mat-dialog-content><h3 style="color:white">The cost of this transaction would be :</h3></div>
<div mat-dialog-actions>
  <button  class="btn btn-danger" mat-button mat-dialog-close>Close</button>
</div>

</div> -->
<div class="card  border-info mb-3 ">
    <div class="card-header text-center bg-info">
    <h2 >Alert!</h2> 
    </div>
    <div class="card-body">
      <h4 class="card-title font-weight-bold">Confirmation!</h4>
      <p class="card-text font-weight-bold">The cost of this transaction would be : {{data.rate}} NGN </p>
     
      <button class="btn btn-success btn-lg p-3" (click)=" Sendata()" > Accept </button>
    <button class="btn btn-danger float-end btn-lg p-3"  (click)="onNoClick()" mat-button mat-dialog-close> Close </button>
    </div>
   
  </div>