<div class="outer">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box  p-3 text-white bg-dark"style="width: auto;height: 100vh;" id="navigation">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4" >Jango</span>
              </a>
              <hr>
              <ul class="nav nav-pills flex-column mb-auto" >
                <li class="nav-item">
                  <a routerLink="/dashboard" class="nav-link text-white" >
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Dashboard
                  </a>
                </li>
                <li>
                  <a routerLink="/fundaccount" class="nav-link active"aria-current="page" style="background-color: gold; color: black;">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Fund Account
                  </a>
                </li>
                <li>
                  <a routerLink="/transfer" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Transfer
                  </a>
                </li>
                <li>
                  <a  routerLink="/profile" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Profile
                  </a>
                </li>
                <li>
                  <a routerLink="/login" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Log-out
                  </a>
                </li>
              </ul>
          
          
          
           
               
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Page title -->
                            <div class="my-5" style="background-color:  #343a40;color: white;">
                                <h3>Fund Account</h3>
                                <hr>
                            </div>
                            <div class="row height d-flex justify-content-center align-items-center" style="background-color: white; height: 100%;" >
                              
                              <div class="col-md-8">
                                <h3> Enter amount to initiate paystack</h3>
                                <hr>
                              <form>
                                <div class="search">
                                  
                                  <input type="text" class="form-control" placeholder="Please enter amount">
                                  <button class="" style="background-color: #04bf2963;">Send</button>
                                </div>
                              </form>
                             
                          </div>
                          </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

</div>
