


              <!-- Begin Page Content -->
              <div class="container" >

                <div class="row">
                  <div class="col-12">
                      <!-- Page title -->
                     
                      <div class="row height d-flex justify-content-center align-items-center" style="background-color: white; height: 100%;" >
                        
                        <div class="col-md-8">
                          <br>
                          <br>
                          <h3> Enter amount to initiate paystack</h3>
                          <hr>
                          
                         
                            <iframe [src]="videoUrl" id="PaystckIFrame" title="iframe Example 1" width="1000" height="1000" *ngIf="Tchange"></iframe>
                        <form  [formGroup]="myUserData" *ngIf="change">
                          <div class="search">
                            
                            <input type="text" formControlName="Amount" class="form-control" placeholder="Please enter amount">
                            <button class="Navbutton"  (click)="sendData()" style="">Send</button>
                          </div>
                        </form>
                       <br>
                       <br>
                       <br>
                    </div>
                    </div>
                  </div>
              </div>

                  

              </div>
              <!-- /.container-fluid -->

        
 




